.custom-card {
  width: 250px;
  border-radius: 12px;
  overflow: hidden;
  background-color: #f3f4f2;

  .card-header {
    display: flex;
    justify-content: space-between;
    padding: 4px 8px;
    align-items: center;
    position: absolute;
    top: 8px;
    left: 0;
    width: 100%;
    z-index: 2;

    .bookmark {
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 50%;
    }

    .stars {
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 16px;
      padding: 0 6px;
      display: flex;
    }
  }

  mat-card-image {
    height: 140px;
    object-fit: cover;
  }

  mat-card-content {
    padding: 12px;

    h3 {
      margin: 0;
      font-size: 1rem;
    }

    .info {
      font-size: 0.85rem;
      color: #555;
      display: flex;
      justify-content: space-between;
      margin-top: 6px;

      mat-icon {
        vertical-align: middle;
        font-size: 16px;
        margin-right: 4px;
      }
    }
  }
}
