<section class="about-section">
  <h2>À propos du magazine</h2>
  <blockquote>“C’est arrivé près de chez vous mais avant vous.”</blockquote>

  <p>
    Passé simple est un mensuel qui relate du passé romand et alémanique. Il a
    pour vocation de s’adresser à tous les publics et de donner la plume à un
    grand nombre de spécialistes venus de toute sorte d’horizons : politiques ou
    non confessionnels, à la retraite ou dans l’élan fervent de la jeunesse. Il
    traite de sujets variés, de l’origine du Valais au destin du général Dufour,
    de l’hygiène à la mort, des machines à l’éducation durant la guerre, de
    Léopoldine accro au lait après la Première Guerre, etc.
  </p>

  <p>
    Bref, des mentalités, des individus, des littératures, des guerres, des
    sciences, de l’économie et de la politique. Passé simple traite de notre
    histoire proche et plus lointaine. Le Polhémiste l’a lancé en 2001. La revue
    privilégie le récit à la démonstration.
  </p>

  <mat-divider></mat-divider>

  <h3>Les balades historiques</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur. Potenti nunc lorem mauris ut. Duis
    praesent bibendum habitasse fermentum pretium quis non a mattis.
  </p>

  <ul>
    <li>4 dolin pour docet</li>
    <li>remettra dissumat</li>
    <li>commodo</li>
    <li>habit gravida massa tempor</li>
  </ul>

  <mat-divider></mat-divider>

  <h3>En savoir plus</h3>
  <p>
    Pour vous abonner, visitez la rubrique abonnement sur notre site Internet.
    Si vous voulez rester au courant des dernières nouvelles de Passé simple
    vous pouvez aimer notre page sur
    <a href="#">Facebook</a> ou nous suivre sur <a href="#">X</a>.
  </p>

  <div class="actions">
    <button mat-flat-button color="primary" class="rounded-btn">
      <mat-icon>subscriptions</mat-icon>
      S’abonner au magazine
    </button>

    <button mat-icon-button class="social-btn">
      <mat-icon svgIcon="facebook"></mat-icon>
    </button>

    <button mat-icon-button class="social-btn">
      <mat-icon svgIcon="twitter"></mat-icon>
    </button>
  </div>
</section>
