.title {
  color: var(
    --M3-sys-light-on-surface-variant,
    var(--Schemes-On-Surface-Variant, #424940)
  );
  font-family: var(--Title-Small-Font, Roboto);
  font-size: var(--Title-Small-Size, 14px);
  font-style: normal;
  font-weight: 500;
  line-height: var(--Title-Small-Line-Height, 20px); /* 142.857% */
  letter-spacing: var(--Title-Small-Tracking, 0.1px);
<<<<<<< HEAD
  margin-top: 16px;
  margin-bottom: 16px;
=======
>>>>>>> e1b5710dedc6d7eda489fb9fa3788d6c9c736c79
}

.useful-info {
  width: 380px;
}
