.icon {
  font-family: 'Material Symbols Outlined';
  font-size: 24px;
  line-height: 1;
  margin-right: 8px;
  vertical-align: middle;
}

.info-item {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.description {
  margin-left: 8px;
}
<<<<<<< HEAD

=======
>>>>>>> e1b5710dedc6d7eda489fb9fa3788d6c9c736c79
