<div class="carousel-container">
  <div class="carousel-scroll">
    <div class="carousel-card" *ngFor="let walk of items">
      <app-featured-walk-card
        [image]="walk.image"
        [title]="walk.title"
        [description]="walk.description"
        [location]="walk.location"
        [duration]="walk.duration"
        [rating]="walk.rating"
        [id]="walk.id"
        [favoriteIds]="walk.favoriteIds"
        [userId]="userId || 0"
        (favoriteToggled)="
          favoriteToggled.emit({ id: walk.id, favoriteIds: walk.favoriteIds })
        "
      />
    </div>
  </div>
</div>
