<div *ngIf="balade; else loading">
  <app-top-bar [title]="balade.name" (back)="navigateBack()">
    <!-- Mettre le toggleFavourite dans le composant une fois créé -->
  </app-top-bar>
  <div class="preview-container">
    <app-preview-image
      class="preveiw"
      [previewPath]="balade.previewPath"
      [title]="balade.name"
      [tags]="tags"
      [catchPhrase]="balade.catchPhrase"
    ></app-preview-image>
    <div class="info-content">
      <app-useful-info
        class="useful-info"
        [infos]="balade.infos"
        [map]="balade.map"
        [attributions]="balade.attributions"
        [seeMore]="balade.seeMore"
      ></app-useful-info>
      <app-content class="content" [content]="balade.content"></app-content>
    </div>
  </div>
</div>

<ng-template #loading>
  <p>Chargement des informations...</p>
</ng-template>
