.content {
  .sections-container {
    display: flex;
    gap: 16px;
  }

  .main-section {
    flex: 2;
    img {
      width: 100%;
      height: auto;
      border-radius: 8px;
    }
  }

  .side-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .side-section .section {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .sections-table {
    display: table;
    width: 100%;
    border-spacing: 16px;
  }

  .row {
    display: table-row;
  }

  .cell {
    display: table-cell;
    vertical-align: top;
  }

  .left {
    width: 66.66%;
    padding-right: 16px;
  }

  .right {
    width: 33.33%;
  }

  h3 {
    font-size: 16px;
    margin-bottom: 8px;
    color: #333;
  }

  img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  p {
    margin-top: 8px;
    font-size: 14px;
    color: #4a4a4a;
  }
}
.section-header {
  display: flex;
  align-items: center;
  gap: 8px;

  mat-icon {
    cursor: pointer;
    font-size: 24px;
    color: #333;
  }

  mat-icon:hover {
    color: #007bff;
  }

  h3 {
    font-size: 16px;
    margin: 0;
    color: #333;
  }
}

.catch {
  display: none;
}

.mobile {
  display: none;
}

@media (max-width: 1024px) {
  .catch {
    display: block;
    border-left: 5px solid var(--Primary, #386a1f);
    display: flex;
    width: auto;
    padding: 4px 0px 4px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--Primary, #386a1f);
    font-family: var(--Title-Small-Font, Roboto);
    font-size: var(--Title-Medium-Size, 16px);
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: var(--Title-Large-Tracking, 0px);
  }
  .title {
    display: none;
  }

  .mobile {
    display: block;
  }

  .mobile img {
    width: 100%;
  }

  .desktop {
    display: none;
  }
}
