@use '@angular/material' as mat;
@use './app/styles/theme-colors' as colors;

@include mat.core();

$light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: colors.$primary-palette,
      tertiary: colors.$tertiary-palette,
    ),
    typography: (
      brand-family: 'Roboto',
      bold-weight: 700,
      medium-weight: 500,
      regular-weight: 400,
    ),
    density: (
      scale: 0,
    ),
  )
);

:root {
  @include mat.all-component-themes($light-theme);
  @include colors.high-contrast-overrides(light);
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
