<app-hero-card></app-hero-card>

<div class="home-container">
  <h2 class="section-title">Balades populaires</h2>

  <ng-template #walkCard let-walk>
    <app-featured-walk-card
      [image]="getImageUrl(walk)"
      [name]="walk.name"
      [description]="walk.catchPhrase"
      [ratings]="walk.ratings"
      [id]="walk.id"
    ></app-featured-walk-card>
  </ng-template>

  <app-carousel
    [items]="displayedBalades"
    [cardTemplate]="walkCard"
  ></app-carousel>

  <app-thematics></app-thematics>

  <div class="popular">
    <h2 class="section-title" style="margin: 0 2px 0 0">Populaires</h2>
    <a
      mat-icon-button
      class="icon"
      [routerLink]="['/balades']"
      aria-label="Voir toutes les balades"
    >
      <mat-icon>arrow_forward</mat-icon>
    </a>
  </div>

  <div class="popular-balades">
    <div class="popular-balades-grid">
      <app-balade-card
        *ngFor="let balade of visibleBalades; trackBy: trackByBalade"
        [id]="balade.id"
        [title]="balade.name"
        [imageUrl]="getImageUrl(balade)"
        [duration]="balade.duration"
        [location]="balade.location"
        [ratings]="balade.ratings"
      >
      </app-balade-card>
    </div>
    <div class="balade-card plus-card" (click)="toggleShowAll()">
      <mat-icon>{{ showAll ? 'remove' : 'add' }}</mat-icon>
    </div>
  </div>
</div>
