<mat-nav-rail>
  <div class="nav-items">
    <div
      *ngFor="let item of navItems"
      [routerLink]="item.route"
      routerLinkActive="active"
      class="nav-item"
    >
      <div class="icon-container">
        <mat-icon>{{ item.icon }}</mat-icon>
      </div>
      <span>{{ item.name }}</span>
    </div>
  </div>

  <div class="bottom-items">
    <div
      *ngFor="let item of bottomItems"
      [routerLink]="item.route"
      routerLinkActive="active"
      class="nav-item"
    >
      <div class="icon-container">
        <mat-icon>{{ item.icon }}</mat-icon>
      </div>
      <span>{{ item.name }}</span>
    </div>
  </div>
</mat-nav-rail>
