<div>
  <div class="desktop">
    <div *ngIf="balade; else loading">
      <app-top-bar [balade]="balade" (back)="navigateBack()">
      </app-top-bar>
      <div class="preview-container">
        <app-preview-image
          class="preveiw"
          [previewPath]="balade.previewPath"
          [title]="balade.name"
          [tags]="tags"
          [catchPhrase]="balade.catchPhrase"
        ></app-preview-image>
        <div class="info-content-desktop">
          <app-useful-info
            class="useful-info-desktop"
            [infos]="balade.infos"
            [map]="balade.map"
            [attributions]="balade.attributions"
            [seeMore]="balade.seeMore"
          ></app-useful-info>
          <app-content
            class="content-desktop"
            [content]="balade.content"
            [catchPhrase]="balade.catchPhrase"
          ></app-content>
        </div>
      </div>
    </div>
    <ng-template #loading>
      <p>Chargement des informations...</p>
    </ng-template>
  </div>
  <div class="mobile">
    <div *ngIf="balade; else loading">
      <app-top-bar [title]="balade.name" (back)="navigateBack()">
        <!-- Mettre le toggleFavourite dans le composant une fois créé -->
      </app-top-bar>
      <div class="preview-container">
        <app-preview-image
          class="preveiw"
          [previewPath]="balade.previewPath"
          [title]="balade.name"
          [tags]="tags"
          [catchPhrase]="balade.catchPhrase"
        ></app-preview-image>
        <div class="page-selector">
          <p
            class="detail"
            [ngClass]="{ active: detail }"
            (click)="detail = true"
          >
            Details
          </p>
          <p
            class="info"
            [ngClass]="{ active: !detail }"
            (click)="detail = false"
          >
            Informations pratiques
          </p>
        </div>
        <div *ngIf="!detail">
          <div class="info-content">
            <app-useful-info
              class="useful-info"
              [infos]="balade.infos"
              [map]="balade.map"
              [attributions]="balade.attributions"
              [seeMore]="balade.seeMore"
            ></app-useful-info>
          </div>
        </div>
        <div *ngIf="detail">
          <app-content
            class="content"
            [content]="balade.content"
            [catchPhrase]="balade.catchPhrase"
          ></app-content>
        </div>
      </div>
    </div>
    <ng-template #loading>
      <p>Chargement des informations...</p>
    </ng-template>
  </div>
</div>
