<mat-card class="hero-card mat-elevation-z1">
  <img mat-card-image [src]="imagePath" alt="Marchez à la découverte du passé" />
  <div class="overlay">
    <div class="text-container">
      <div class="title">Marchez à la découverte du passé</div>
      <div class="subtitle">
        Passé Simple vous emmène hors des sentiers battus pour explorer l’histoire autrement.
        <br />
        Suivez nos balades guidées en toute autonomie et laissez-vous transporter par les récits qui ont façonné nos paysages
      </div>
    </div>
  </div>
</mat-card>
