<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <mat-nav-list class="nav-vertical">
      <ng-container *ngFor="let item of navItems">
        <a mat-list-item
           [routerLink]="item.route"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{ exact: true }">
          <div class="icon-wrapper">
            <mat-icon>{{ item.icon }}</mat-icon>
          </div>
          <span class="label">{{ item.name }}</span>
        </a>
      </ng-container>

      <div class="spacer"></div>

      <ng-container *ngFor="let item of bottomItems">
        <a mat-list-item
           [routerLink]="item.route"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{ exact: true }">
          <div class="icon-wrapper">
            <mat-icon>{{ item.icon }}</mat-icon>
          </div>
          <span class="label">{{ item.name }}</span>
        </a>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
