// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
} /* You can add global styles to this file, and also import other style files */

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: #f9fdf6;
}

.mdc-list {
  padding: 0 !important;
}

:root {
  @include mat.chips-overrides(
    (
      outline-color: #c1c9be,
      with-avatar-avatar-shape-radius: 0,
      with-avatar-avatar-size: 1rem,
      with-icon-icon-color: #65ef03,
    )
  );

  @include mat.icon-overrides(
    (
      color: #55624c,
    )
  );
}

@import './css/light.css';
@import './css/light-mc.css';
