mat-card-title {
  color: var(--M3-sys-light-on-surface, var(--Schemes-On-Surface, #181d18));
  font-family: var(--Title-Medium-Font, Roboto);
  font-size: var(--Title-Medium-Size, 1rem);
  font-weight: var(--Title-Medium-Weight, 500);
  line-height: var(--Title-Medium-Line-Height, 1.5);
}

mat-card-header {
  flex-direction: column;
  gap: 0.5rem;
}

mat-card {
  background-color: #edefe5;
  box-shadow: none;
}

mat-card-actions {
  padding: 0 0.5rem 0.5rem 1rem;
  min-height: 0;
}

.infos {
  list-style-type: none;
  display: flex;
  gap: 0.5rem;
  padding: 0;
  margin: 0;

  .info {
    display: flex;
    gap: 0.25rem;
    color: var(--Secondary, #55624c);
    text-align: center;
    font-family: var(--Label-Medium-Font, Roboto);
    font-size: var(--Label-Medium-Size, 0.75rem);
    font-weight: 600;
    line-height: var(--Label-Medium-Line-Height, 1.333);

    mat-icon {
      font-size: 1rem;
      width: 1rem;
      height: 1rem;
    }
  }
}

.favorite-button {
  margin-left: auto;
  border-radius: 50%;
  border: 0;
  background-color: #d9e7cb;
  width: 1.5rem;
  height: 1.5rem;
  display: inline-flex;
  z-index: 500;
  cursor: pointer;

  mat-icon {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
}

.balade {
  text-decoration: none;
  color: var(--M3-sys-light-on-surface, var(--Schemes-On-Surface, #181d18));
}
